[submodule "embedded-infra-lib"]
	path = infra/embedded-infra-lib
	url = https://github.com/embedded-pro/embedded-infra-lib.git
[submodule "infra/hal/st"]
	path = infra/hal/st
	url = https://github.com/embedded-pro/hal-st.git
[submodule "infra/hal/ti"]
	path = infra/hal/ti
	url = https://github.com/embedded-pro/hal-ti.git
[submodule "numerical-toolbox"]
	path = infra/numerical-toolbox
	url = https://github.com/embedded-pro/embedded-numerical-toolbox.git
[submodule "infra/can-lite"]
	path = infra/can-lite
	url = https://github.com/embedded-pro/can-lite.git
